.theme {
    background-color: #254e58;
    color: #ffffff !important;
}

html,
body {
    margin: 0;
    padding: 0;
}

.navigator {
    font-size: 20px;
    z-index: 1000;
    padding-right: 15px;
}

.navbar-brand {
    font-size: 36px !important;
    font-family: Cookie;
    padding-right: 30px;
    padding-left: 30px;
}

/* .sidebar {
    border-right: 1px solid white;
} */

.top-spacing {
    height: 80px;
}

.main-content {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
}

.dropdown-item {
    color: white;
}

.accordion-button:not(.collapsed) {
    color: white !important;
    background-color: inherit;
}

.accordion-button:focus {
    border: none;
    box-shadow: none;
}

.content-body {
    margin: 0 !important;
    padding: 0 !important;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

#dash-col {
    background: red;
    animation: mymove 10s infinite;
    height: 300px;
}

@keyframes mymove {
    0% {
        background-color: orange;
    }
    50% {
        background-color: orangered;
    }
    100% {
        background-color: orange;
    }
}
